.shop-card {
  width: 900px; /* Adjust the width as needed */
  height: 200px; /* Same value as width for a square shape */
  border-radius: 25px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1); /* Adjust shadow values as needed */
  background-color: #fff; /* Set your preferred background color */
  margin: 10px; /* Adjust margin as needed */
  position: relative;
}

.card-content {
  padding: 20px;
}

.product-name {
  font-size: 1.2em;
  margin-bottom: 10px;
  color: black;
}

.product-price {
  font-weight: bold;
  color: black;
}

.product-image {
  width: 100px;
  height: 100px;
}

.add-to-cart {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
